#masthead {
    
    .site-branding {
        text-align: center;
        margin-top: 80px;
        
        .site-title {
            margin-bottom: 0px;
        }
        
        .site-description {
            margin-top: 0px;
        }
    }
}