.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#primary .page {
    margin: 15px 150px;
    
    footer {
	    color: #000;
	    background-color: #fff;
	    text-align: right;
	    
	    a {
	        color: #000;
	        border-bottom: 1px dotted #000;
	    }
	}
}