.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.post.type-post.has-post-thumbnail,
.post.type-post.format-image {
    clear: both;
    
    > .image-wrapper {
        width: 75%;
        float: left;
    }
    
    >.content-wrapper {
        width: 25%;
        float: left;
        padding: 5px 15px;
        
        header {
            text-align: right;
            
            .entry-title{
                margin-bottom: 0px;
                font-family: $font__main;
            }
            
            .entry-meta {
                font-size: 75%;
            }
        }
        
        .entry-content {
            p {
                font-size: 85%;
                padding-left: 15px;
                text-align: justify;
                text-justify: inter-word;
            }    
        }
    }
}
    