.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.format-standard {
    margin-left: 15px;
    margin-right: 5px;
  
  .entry-header {
    text-align: right;
    float: right;
    width: 25%;
    margin-top: 25px;
    padding-left: 5px;
  }
  .entry-content {
    float: left;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 10px;
    border-right: 1px solid #000;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  header {
      .entry-title{
          margin-bottom: 0px;
          font-family: $font__main;
      }
      
      .entry-meta {
          font-size: 75%;
      }
  }
  
  .post-thumbnail {
    width: 100%;
    margin-top: 30px;
    
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }
  }
}

.post.type-post.has-post-thumbnail,
.post.type-post.format-image {
    clear: both;
    
    > .image-wrapper {
        width: 75%;
        float: left;
    }
    
    >.content-wrapper {
        width: 25%;
        float: left;
        padding: 5px 15px;
        
        header {
            text-align: right;
            
            .entry-title{
                margin-bottom: 0px;
                font-family: $font__main;
            }
            
            .entry-meta {
                font-size: 75%;
            }
        }
        
        .entry-content {
            p {
                font-size: 85%;
                padding-left: 15px;
                text-align: justify;
                text-justify: inter-word;
            }    
        }
    }
}
    